<html>
<%= render :partial => "application/header", :locals => { :title => "Edit Artist"} %>
 
<form action="/artist/update/<%= @artist.id %>" method="post">
<input id="artist_id" name="artist[id]" type="hidden" value="<%= @artist.id %>" />
<table border="0" cellpadding="5" cellspacing="0">
<tr>
<td><label for="artist_name">Name: </label></td>
<td><input id="artist_name" name="artist[name]" size="40" type="text" 
	value="<%= @artist.name %>"/></td>
</tr>
<td colspan="2"><label for="artist_bio">Short Bio: </label></td>
</tr>
<tr>
<td colspan="2"><textarea cols="40" id="artist_bio" name="artist[bio]" rows="10"
wrap="virtual"><%= @artist.bio %></textarea></td>
</tr>
</table>
<br>
<input name="commit" type="submit" value="Update" />
</form>

</body>
</html>
