<html>
<%= render :partial => "application/header", :locals => { :title => "Artist Details"} %>

<table border="0" cellpadding="5" cellspacing="0">
<tr>
<td><b><i>Name: </b></i></td>
<td><%= @artist.name %></td>
</tr>
<tr>
<td><b><i>Bio: </b></i></td>
<td><%= @artist.bio %></td>

<tr>
<td><b><i>Rating: </b></i></td>
<td><%= @average[0].avg_rating %></td>
<tr>

</tr>
</table>

<table border="1" cellpadding="5" cellspacing="0">
<td><b><i>Album: </b></i></td>
<td><b><i>Genre:</b></i></td>
<td><b><i>Rating:</b></i></td>
<td><b><i>Year:</b></i></td>
<td><b><i>Length:</b></i></td>

<% @albums.each do |album| %> 
	<tr>
      <td><%=link_to album.album_name, :controller => "album", :action=> "show", :id => album.album_id %></td>
	<td><%= link_to album.genre_name, :controller => "genre", :action => "show", :id => album.genre_id %></td>
	<td><%= album.rating %></td>
	<td><%= album.year %></td>
	<td><%= album.total_length %></td>

	</tr>
<% end %> 
</table>


<br>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "[ edit artist details ]", { :action => 'edit', :id => @artist.id }, :post => true %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "[ delete artist ]", { :action => 'destroy', :id => @artist.id }, :post => true %>
<br><br>

</body>
</html>
